#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: aqua;
    margin-bottom: 50px;
}
#voucher_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
#voucher_list>div{
    padding: 10px;
    border: 1px solid rgb(57, 145, 57);
    text-align: center;
}